<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/update-edit.css">
    <script src="/imagePreviewForEdit.js"></script>
</head>

<body>

    <div class="navbar">
        <ul>
            <li><a class="" href="http://localhost:8080/">Home</a></li>
            <li><a href="/show">Show</a></li>
        </ul>
    </div>

    <div>
        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form">
                <div class="title">Update</div>
                <div class="input-container ic1">
                    <input type="text" name="firstName" class="input" value=" <%- studentData.firstName %>">
                </div>
                <div class="input-container ic1">
                    <input type="text" name="lastName" class="input" value=" <%- studentData.lastName %>">
                </div>
                <div class="input-container ic1">
                    <input type="text" name="email" class="input" value=" <%- studentData.email %>">
                </div>
                <div class="input-container ic1">
                    <input type="text" name="mob_no" class="input" value=" <%- studentData.mob_no %>">
                </div>
                <div>
                    <div id="image">
                        <img class="image" src="/uploads/<%- studentData.photo %>" alt="">
                    </div>
                </div>
                <div class="input-container ic2">
                    <img src="<%- studentData.photo %>" alt="">
                </div>
                <div class="input-container ic2">
                    <input type="file" name="photo" id="">
                </div>
                <!-- <div class="center">
                    <div class="form-input">
                        <div class="preview">
                            <img id="file-ip-1-preview" src="uploads/" alt="">
                            <label for="file-ip-1">Update Image</label>
                            <input type="fie" name="photo" id="file-ip-1" accept="image/*" onchange="showPreview(event)">
                        </div>
                    </div>
                </div> -->
                <button type="submit" class="submit">Update</button>
            </div>

        </form>
    </div>

    <input type="image" src="" alt="">
</body>

</html>