<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/updateUser.js"></script>
    <link rel="stylesheet" href="/css/index-home.css">
    <link rel="stylesheet" href="/css/edit.css">
    <script src="/imagePreviewForEdit.js"></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/show">Show</a>
                    </li>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="mb-3">
            <div class="idElement" id="<%- studentData._id %>"></div>
            <div class="required">*</div>
            <label for="firstName" class="form-label">Enter First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name"
                value="<%- studentData.firstName %>" onblur="f_NameBlur(event)">
            <div class="f_nameValidation">First Name Should Not Empty</div>
        </div>
        <div class="mb-3">
            <div class="required">*</div>
            <label for="lastName" class="form-label">Enter Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                onblur="l_NameBlur(event)" value="<%- studentData.lastName %>">
            <div class="l_nameValidation">Last Name Should Not Empty</div>
        </div>
        <div class="mb-3">
            <div class="required">*</div>
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email address"
                onkeyup="validateEmail(event)" onblur="emailBlur(event)" value="<%- studentData.email %>">
            <div class="emailValidation">Enter a valid email</div>
            <div class="emailEmptyValidation">Email Should Not Empty</div>
        </div>
        <div class="mb-3">
            <div class="required">*</div>
            <label for="mob_no" class="form-label">Enter Mobile Number</label>
            <div class="input-group">
                <span class="input-group-text">+91</span>
                <input type="text" class="form-control" id="mob_no" placeholder="Enter Mobile Number"
                    onkeyup="mobileNumber(event)" onblur="mobBlur(event)" value="<%- studentData.mob_no %>">
            </div>
            <div class="mobValidation">Enter a valid mobile number</div>
            <div class="mobEmptyValidation">Mobile Number Should Not Empty</div>
        </div>
        <div class="mb-3">
            <div class="required">*</div>
            <select class="form-select" id="post" aria-label="Post Applied For" onblur="postBlur(event)">
                <option value="postAppFor">Post Applied for</option>
                <option <%=studentData.Post=='Frontend Developer' ? 'selected' : '' %> value="Frontend
                    Developer">Frontend Developer</option>
                <option <%=studentData.Post=='Backend Developer' ? 'selected' : '' %> value="Backend Developer">Backend
                    Developer</option>
                <option <%=studentData.Post=='Testing Engineer' ? 'selected' : '' %> value="Testing Engineer">Testing
                    Engineer</option>
                <option <%=studentData.Post=='Support Engineer' ? 'selected' : '' %> value="Support Engineer">Support
                    Engineer</option>
                <option <%=studentData.Post=='Devops Engineer' ? 'selected' : '' %> value="Devops Engineer">Devops
                    Engineer</option>
                <option <%=studentData.Post=='UX Designer' ? 'selected' : '' %> value="UX Designer">UX Designer</option>
            </select>
            <div class="postValidation">Select Appropriate Post You Want To Apply</div>
        </div>
        <div class="mb-3">
            <div class="required">*</div>
            <select class="form-select" id="bld_group" aria-label="Default select example" onblur="bloodBlur(event)">
                <option value="Blood">Blood Group</option>
                <option value="O+" <%=studentData.bld_group=='O+' ? 'selected' : '' %>>O+</option>
                <option value="O-" <%=studentData.bld_group=='O-' ? 'selected' : '' %>>O-</option>
                <option value="A+" <%=studentData.bld_group=='A+' ? 'selected' : '' %>>A+</option>
                <option value="A-" <%=studentData.bld_group=='A-' ? 'selected' : '' %>>A-</option>
                <option value="B+" <%=studentData.bld_group=='B+' ? 'selected' : '' %>>B+</option>
                <option value="B-" <%=studentData.bld_group=='B-' ? 'selected' : '' %>>B-</option>
                <option value="AB+" <%=studentData.bld_group=='AB+' ? 'selected' : '' %>>AB+</option>
                <option value="AB-" <%=studentData.bld_group=='AB-' ? 'selected' : '' %>>AB-</option>
            </select>
            <div class="bloodValidation">Select Your Blood Group</div>
        </div>

        <div class="mb-3">
            <label for="NCC" class="form-label">NCC Certification</label><br>
            <div class="form-check form-check-inline">
                <% if(studentData.NCC[0]== "A"){ %>
                    <input class="form-check-input" type="checkbox" id="A" value="A" checked>
                    <label class="form-check-label" for="A">A</label>
                    <% } else{ %>
                        <input class="form-check-input" type="checkbox" id="A" value="A">
                        <label class="form-check-label" for="A">A</label>
                        <% } %>
            </div>
            <div class="form-check form-check-inline">
                <% if(studentData.NCC[0]== "B" || studentData.NCC[1]== "B"){ %>
                    <input class="form-check-input" type="checkbox" id="B" value="B" checked>
                    <label class="form-check-label" for="B">B</label>
                    <% }else{ %>
                        <input class="form-check-input" type="checkbox" id="B" value="B">
                        <label class="form-check-label" for="B">B</label>
                        <% } %>
            </div>
            <div class="form-check form-check-inline">
                <% if(studentData.NCC[0]== "C" || studentData.NCC[1]== "C" || studentData.NCC[2]== "C"){ %>
                    <input class="form-check-input" type="checkbox" id="C" value="C" checked>
                    <label class="form-check-label" for="C">C</label>
                    <% }else{ %>
                        <input class="form-check-input" type="checkbox" id="C" value="C">
                        <label class="form-check-label" for="C">C</label>
                        <% } %>
            </div>
        </div>

        <div class="mb-3">
            <div class="required">*</div>
            <label for="date" class="form-label">Enter Date Of Birth</label>
            <input type="date" name="" id="date" min="1990-01-01" max="2005-01-01" onblur="dateBlur(event)"
                value="<%= studentData.dateOfBirth %>">
            <div class="dateEmptyValidation">Select Appropriate Date Of Birth</div>
        </div>

        <div class="mb-3">
            <div class="required">*</div>
            <label class="form-label">Gender</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="male" value="Male"
                    <%=studentData.gender=='Male' ? 'checked' : '' %>>
                <label class="form-check-label" for="Male">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="Female" value="Female"
                    <%=studentData.gender=='Female' ? 'checked' : '' %>>
                <label class="form-check-label" for="Female">
                    Female
                </label>
            </div>
        </div>
        <div class="mb-3">
            <div class="required">*</div>
            <select class="form-select" id="qualification" aria-label="Select Highest Educational Qualification "
                onblur="qualiBlur()">
                <option value="quali">Select Highest Educational Qualification</option>
                <option value="MSc" <%=studentData.qualification=='MSc' ? 'selected' : '' %>>MSc</option>
                <option value="BSc" <%=studentData.qualification=='BSc' ? 'selected' : '' %>>BSc</option>
                <option value="MBA" <%=studentData.qualification=='MBA' ? 'selected' : '' %>>MBA</option>
                <option value="BBA" <%=studentData.qualification=='BBA' ? 'selected' : '' %>>BBA</option>
                <option value="B.Tech" <%=studentData.qualification=='B.Tech' ? 'selected' : '' %>>B.Tech</option>
                <option value="B.Arch" <%=studentData.qualification=='B.Arch' ? 'selected' : '' %>>B.Arch</option>
                <option value="B.E" <%=studentData.qualification=='B.E' ? 'selected' : '' %>>B.E</option>
                <option value="BCA" <%=studentData.qualification=='BCA' ? 'selected' : '' %>>BCA</option>
                <option value="MCA" <%=studentData.qualification=='MCA' ? 'selected' : '' %>>MCA</option>
                <option value="BA" <%=studentData.qualification=='BA' ? 'selected' : '' %>>BA</option>
                <option value="B.Com" <%=studentData.qualification=='B.Com' ? 'selected' : '' %>>B.Com</option>
                <option value="MA" <%=studentData.qualification=='MA' ? 'selected' : '' %>>MA</option>
                <option value="M.Com" <%=studentData.qualification=='M.Com' ? 'selected' : '' %>>M.Com</option>
                <option value="Ph.D" <%=studentData.qualification=='Ph.D' ? 'selected' : '' %>>Ph.D</option>
            </select>
            <div class="qualiValidation">Select Your Appropriate Qualification</div>
        </div>
        <div class="imageShow">
            <img src="/uploads/<%- studentData.photo %>" id="file-ip-1-preview" alt="">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Photo</label>

            <form method="POST" enctype="multipart/form-data" onsubmit="return mySubmitFunction(event)">
                <div class="d-flex" id="uploadDiv">
                    <input class="form-control" type="file" id="formFile" name="imageUpload"
                        onchange="showPreview(event)">
                </div>
                <div class="imageValidation">Upload Image Formats like JPG, JPEG, PNG, GIF</div>
                <div class="imageEmpty">Upload A Image</div>
                <div class="imageSubmit">Image Submitted Successfully</div>
                <div class="mainValidation">Enter All Fields</div>
                <div class="mt-3">
                    <div class="text-center">
                        <button class="btn btn-primary uploadBTN" onclick="updateUser(event)">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>